
  #mainTitle {
  text-align: center;

  }

  #homePageImage {

    margin: 0;
     position: absolute;
     top: 40%;
     left: 50%;
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
  }

  #findPubsNearMe {
    margin: 0;
     position: absolute;
     top: 90%;
     left: 50%;
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);



}

  #calRoute {
    margin: 0;
     position: absolute;
     top: 90%;
     left: 50%;
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);



  }
